/* Table css Styling */
  h1{
    color:rgb(5, 87, 239)
    
}
table{
    background-color: rgb(34, 230, 165);
}
th{
    color: rgb(76, 0, 255);
    background-color: cornsilk;
}
th,td{
    padding: 20px;
}

 OrderList And UnderList 
h2{
    color:rgb(34, 230, 165);

}
.list{
    display: flex;
    gap: 40px;
}
.box{
    color: blue;
}
.box1{
    padding: 50px;
    background-color: aqua;
    width: 360px;
}
.box2{
padding: 50px;
border: 5px solid red;
width: 360px;
text-align: center;

    
}
.box3{
    padding: 50px;
border: 5px solid greenyellow;
width: 360px;
margin: 90px ;
text-align: center;

} 
 

 /* Forms styling  */

 legend{
    text-align: center;
    font-size: 30px;
}

 .main1{
    background-color: rgb(90, 111, 54);
 }
.name1{
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
#name{
    width: 400px;
    margin-left: 100px;
}
.email{
    
        margin-bottom: 10px; 
         margin-left: 20px;
        border: 1px solid white;
    padding: 10px;
    border-radius: 10px;


}
#ema{
    width: 400px;
    margin-left: 100px;

}
.phone{
    
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;

}
#phone{
width: 400px;
margin-left: 100px;
}
.address{
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
#area{
    width: 400px;
    margin-left: 100px;
}
#post{
    width: 400px;
    margin-left: 100px;
}
#con{
    width: 400px;
    margin-left: 100px;
}
.card{
    margin-bottom: 10px;
        margin-left: 20px;
        border: 1px solid white;
    padding: 10px;
    border-radius: 10px;

}
#type{
    margin-left: 40px;

}
#type1{
    margin-left: 80px;
    
}
#type2{
    margin-left: 80px;
    
}
#type3{
    margin-left: 80px;
    
}
.num{
    
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;

}
#numb{
width: 400px;
margin-left: 85px;
}
.ser{
    
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;


}
#code{
width: 400px;
margin-left: 90px;
}
.ser1{
    
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;

}
#code1{
width: 400px;
margin-left: 90px;
margin-bottom: 5px;
}
.btn{
    padding:20px;
    width: 100px;
    height: 50px;
    margin-left: 600px;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    background-color: crimson;
   
} 



 
.flex{
    background-color: rgb(8, 172, 120);
    height: 800px;
    display: flex; 

    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
     /* justify-content:end ; */
    /* align-items: end; */
     /* flex-wrap: nowrap;  */
    
    
 }
.sri{
    border: 3px solid ;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    margin: 10px;


}
  




  /* Assignment by Sarvesh */



  /* .main{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;

  }
   */







